@use 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}




main{
    display: grid;
    max-width: 70%;
    font-family: variables.$font;
    grid-template-areas: "daniel"
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "patrick"
    "kira";
    
}

main .person-img {
    border-radius: 30px;
}


.card{
    border-radius: 10px;
    padding: 2em;
    box-shadow: 1px 1px variables.$lightGray;
    margin: 1rem;
    width: 100%;
      
}

.card .description{
    margin-top: 1rem;
}

.card .offer {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.card .name-grad {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
}

.card .info-container{
    display: flex;
    align-items: center;
    
}


// Card one
.card:nth-of-type(1) {
    background-color: variables.$moderateViolet;
    color: variables.$white;
    grid-area: daniel;  
    
}


.card:nth-of-type(1) .graduate {
    color: variables.$whitefiftyopacity;
}

.card:nth-of-type(1) .description {
    color: variables.$whiteseventyopacity;
}

.card:nth-of-type(1)   .info-container {
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position:right 25% top ;
   
}

//Card two

.card:nth-of-type(2) {
    background-color: variables.$darkGrayishBlue;
    grid-area: jonathan;

}

.card:nth-of-type(2)   .graduate {
    color: variables.$whitefiftyopacity;
}

.card:nth-of-type(2) .description {
    color: variables.$whiteseventyopacity;
}

.card:nth-of-type(2) .offer{
    color: variables.$white;
}

.card:nth-of-type(2) .name{
    color: variables.$white;
}

//Card three
.card:nth-of-type(3) {
    background-color: variables.$white;
    grid-area: jeanette;
    
}

.card:nth-of-type(3) .graduate {
    color: variables.$darkBlackishBluefiftyOpacity;
}

.card:nth-of-type(3)  .description {
    color: variables.$darkBlackishBluefiftyOpacity;
}


//Card four
.card:nth-of-type(4) {
    background-color: variables.$darkBlackishBlue;
    grid-area: patrick;
    
}

.card:nth-of-type(4) .offer,.name {
    color: variables.$white;
}

.card:nth-of-type(4) .description {
    color: variables.$whiteseventyopacity;
}

.card:nth-of-type(4) .graduate {
    color: variables.$whitefiftyopacity;
}

//Card 5
.card:nth-of-type(5) {
    background-color: variables.$white;
    grid-area: kira;
    

}

.card:nth-of-type(5) .graduate {
    color: variables.$darkBlackishBluefiftyOpacity;
}

.card:nth-of-type(5) .name {
    color: variables.$darkBlackishBlue;
}

.card:nth-of-type(5) .description {
    color: variables.$darkBlackishBluefiftyOpacity;
}

@media (min-width:768px) {
    main{
        grid-template-areas: "daniel daniel jonathan kira"
                     "jeanette patrick patrick kira";
        column-gap: 2rem;
        row-gap: 0.5rem;
    }
    .card:nth-of-type(1){
        min-width: min-content;
        min-height: 22rem;
    }
    .card:nth-of-type(2){ 
        min-width: 0.8rem;
        min-height: 22rem;
    }
    .card:nth-of-type(3){ 
        min-width: 1rem;
        min-height: 5rem;
    }
    .card:nth-of-type(4){ 
        min-width: min-content;
        min-height: 5rem;
    }
    .card:nth-of-type(5){ 
        min-width: 2.5rem;
        min-height: 22rem+5rem; //Referring to heights of first and second rows.
    }
   
}


// @media (max-width:1300px) {
//     main{
//         grid-template-areas: "daniel jonathan"
//                             "jeanette patrick"
//                             "kira jeanette";

// }
// }